@model object
@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";
}
<h2>
    Auto criar banco de dados</h2>
<h3>
    cuidado!! todos os dados e tabelas serão apagados</h3>
<form method="post">
    <input type="submit" />
</form>
