<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ConnectionString" connectionString="Server=da72dd9f-76f6-4f10-b818-9f7d010277bb.sqlserver.sequelizer.com;Database=dbda72dd9f76f64f10b8189f7d010277bb;User ID=tmthrkqjerloqefn;Password=pUXJyi4obPuX7KoUN74JPbFKReXnGoxWAGDMhTHKHFoaeXwHAQ4QqKYonnZusQNV;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <!--<system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>-->
</configuration>