@using Dominio.Entidades
@model Filme
@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";
}
<h2>
    Criar Dados para Teste</h2>
<form method="post">
    <input type="submit" />
</form>
